<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Shirley Bongers' Family History Research</h2>
                    <br>
                        <p class="text-muted large">Shirley has been researching her extended family history for over 30 years.</p>
                        <p class="text-muted large">In that time she's traced at least 11,451 people, from among 2,100 families, who lived over the last 6 centuries.</p>
                     <br>        
                        <p class="text-muted">The information Shirley has gathered are accessible via this website, which forms part of the Indidem* project.</p>
                        <p class="text-muted">The project aims to consolidate and publish Shirley's research, and thereby enable it to persist into the future, in circulation and informing similar research.<p>
                        <p class="text-muted">The other aspects of the project are detailed in the Achievements section, below.</p>
                        <p class="text-muted"><sub>* Indidem is a Latin word meaning <a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.04.0060:entry=indidem">from the same place or source</a>.</sub></p>
                     <br><br>
                    <h4 class="section-subheading text-muted">The research collection</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data</h4>
                    <p class="text-muted">Shirley recorded her research in several databases. So far the most current database has been assessed and partially published here: it contains 11,451 entries and mentions 12,184 people.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Records</h4>
                    <p class="text-muted">Shirley's substantial collection of research notes and documentary evidence has been assembled, with a view to digitising, and either archiving or publishing.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-image fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Artefacts</h4>
                    <p class="text-muted">Shirley's collection also includes a range of artefacts including historical photos, personal items and other inherited keepsakes.</p>
                </div>
            </div>
        </div>
    </section>
