<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Shirley Bongers' Family History Research</h2>
                    <br>
                    <h3 class="section-subheading text-muted">Shirley has been researching her extended family history for over 30 years.
                        <br><br>
                        In that time she's identified around 12,000 individuals, from over 2,100 families, and across 6 centuries.
                       <br><br><br>
                        This website forms part of the Indidem* project, which aims to make Shirley's research accessible, plus enable it to remain alive, current and ongoing.
                        <br><br>
                        The other aspects of the project are detailed in the Achievements section, below.
                        <br><br>
                        <sub>* Indidem is a Latin word meaning <a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.04.0060:entry=indidem">from the same place or source</a>.</sub></h3>
                    <h4 class="section-subheading text-muted">The research collection</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data</h4>
                    <p class="text-muted">Shirley recorded her research in several databases; so far the most current database has been analysed, which has 11,451 entries and mentions 12,184 people.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Records</h4>
                    <p class="text-muted">Shirley's substantial collection of research notes and documentary evidence are due for analysis, with a view to digitising and archiving.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-image fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Artefacts</h4>
                    <p class="text-muted">Shirley's collection also includes a range of artefacts includes historical photos, personal items and other inherited keepsakes.</p>
                </div>
            </div>
        </div>
    </section>
