<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted" style="color: #fff;">If you have questions or would like to contribute to the project we'd love to hear from you.</h3>
                    <h3 class="section-subheading text-muted" style="color: #fff;">Unfortunately our own contact form is broken, so for the time being we request that you use the secure Wikitree form, via the button below.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">                           
                            <div class="col-lg-12 text-center">                          
                               <a href="https://www.wikitree.com/index.php?title=Special:PrivateMessage&who=24181421&ref=26448154"><button class="btn btn-xl">Send Message via Wikitree</button></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
