<!-- Timeline Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">Key research and project milestones.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1980-1985</h4>
                                    <h4 class="subheading">First sparks</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Shirley's interest in family history was sparked in the early 1980s. While the moment of inspiration is lost to time, the search itself has captivated Shirley and prompted an unwavering passion and dedication.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1985-2010</h4>
                                    <h4 class="subheading">Evolving research methods</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In the early years much of Shirley's research was conducted using parish records, cemeteries, local libraries, usually visited in person, plus community historical groups and genealogy networks via post correspondence. With the internet came more opportunities to better identify and connect individuals, as genealogical records were digitised around the world, and significantly improved correspondence, through email and online genealogy networks.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1995-today</h4>
                                    <h4 class="subheading">Reporting on the puzzle</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Not long after starting her research, Shirley began assembling and distributing book-length reports on a range of significant family members. To facilitate the publishing process, Shirley explored several database systems, and ultimately developed the current data set using the Personal Ancestral File software, which is now discontinued.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2019</h4>
                                    <h4 class="subheading">Shirley's 90th birthday celebration</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Shirley's approaching birthday has prompted this review of the research to date. We hope that reassessing the research, and continuing Shirley's publishing goals, using new technology and formats, will help the work persist into the future.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a style="color: #fff" href="#contact"><h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
